@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans';
}

body {
  background: linear-gradient(120deg, rgb(0, 171, 250) 0%, rgb(126, 214, 255) 100%);
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 5rem;
  font-size: 3rem;
  color: white;
}

.search-bar {
  width: 60%;
  margin: 2rem auto;
}

input {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 3rem;
  width: 60%;
  border-radius: 5px;
}

button {
  padding: 0.8rem;
  margin-left: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border-color: rgb(0, 171, 250);
  background: rgb(0, 119, 255);
  color: white;
  cursor: pointer;
}

button:hover {
  background: rgb(0, 87, 185);
}

#alert-div {
  width: 70%;
  margin-left: 5%;
  color: white;
  padding: 1.5rem;
  background: rgba(248, 102, 102, 0.753);
}

#recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe-card {
  font-family: 'Heebo';
  width: 30%;
  background: rgb(216, 214, 214);
  margin: 1rem;
  padding: 0.8rem;
}

.recipe-card  > * {
  margin: 1rem 0;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

img {
  width: 60%;
  margin: 0.5rem 20% !important;
}

ul > * {
  margin: 0.5rem 0;
}

li {
  list-style-position: inside;
}
